<app-navbar></app-navbar>
<div class="container">



    <div class="row">



        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">



            <div class="row g-3">



                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12">



                    <label for="" class="form-label">Employee code</label>



                    <input name="code" [(ngModel)]="code" type="text" class="form-control">



                </div>



           



            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12 text-center">



                <button (click)="readValue()" class="btn btn-success">Search</button>



            </div>
        </div>

        <div class="row g-3 mt-5" *ngFor="let j of readValues">



           <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

  

               <label for="" class="form-label">NAME</label>

  

               <input  type="text" class="form-control" value="{{j.name}}">

  

           </div>

  

           <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

  

               <label for="" class="form-label">DESIGNATION</label>

  

               <input  type="text" class="form-control" value="{{j.designation}}">

  

           </div>

  

           <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

  

               <label for="" class="form-label">SALARY</label>

  

               <input  type="text" class="form-control" value="{{j.salary}}">

  

           </div>  
           <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



            <label for="" class="form-label">COMPANY NAME</label>



            <input type="text" class="form-control" value="{{j.cmpname}}">



        </div>



        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



            <label for="" class="form-label">MOBILE NO</label>



            <input  type="text" class="form-control" value="{{j.mobileno}}">



        </div>



  <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



            <label for="" class="form-label">USERNAME</label>



            <input  type="text" class="form-control" value="{{j.username}}">



        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
      <button (click)="deleteBtnclick(j.id)" class="btn btn-success">Delete</button>
        </div>


    </div>
</div>



</div>

</div>